.calendar {
	position: fixed;
	top: 30px;
	left: 30px;
	margin: 0 auto;
}

.react-calendar {
	border: 1px solid #bbb;
}

.calender-button {
	margin-top: 10px;
	width: 350px;
	height: 60px;
	border-radius: 1rem;
	border: 1px solid #bbb;
}
